body {
 background-color: #aad5d4;
display: flex;
 justify-content: center;
align-items: center;
 height: 100vh;
}
.login-box {
    background: rgba(255, 255, 255, 0.2);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
}
.login-box h2 {
    text-align: center;
    color: #aebfd2;
}